.display-pages{
    width: 100%;
    height: 100vh;
    background: #30324a;
    display: flex;
    justify-content: start;

}
.page-display{
    width: 100%;
    height: 100%;
    overflow: scroll;

    display: flex;
    flex-direction: row;

    background: #30324a;
}
::-webkit-scrollbar{
    display: none;
}