.display-pages{
    width: 100%;
    height: 100vh;
    background: #30324a;
    display: flex;
    justify-content: start;

}
.page-display{
    width: 100%;
    height: 100%;
    overflow: scroll;

    display: flex;
    flex-direction: row;

    background: #30324a;
}

.page-display::-webkit-scrollbar{ 
    display:none
}
nav{
    gap: 0;

    padding-right: 2px;
    min-width: 255px;
    max-width: 255px;
    max-height: 100vh ;
    display: flex;
    flex-direction: column; 
    height: fit-content;
    background-color: #30324A;

}
nav::-webkit-scrollbar{
    display: none;
}
nav > .scroll{
    /* margin-top: 180px; */
    min-width: 255px;
    max-height: 100vh ;
    /* overflow-y: scroll; */
    height: auto;
    padding-right: 2px;
    /* gap: 4px; */
    padding-bottom: 4px;
} 
nav > .scroll > button{
    margin: 0;
    height: auto;
    width: 100%;
    background-color: transparent;
    /* border: none; */
    border:none;
    /* padding: 2px 0; */
}
.scroll::-webkit-scrollbar{
    display: none;
}